.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  font-weight: 600;
  position: relative;
  color: #5b5fc7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  background: rgb(255 255 255);
  border: 1px solid #acb3fa;
  height: 32px;
  width: auto;
  max-width: 100%;
  min-width: 32px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 0 15px;
  margin: 9px 0px;
  text-decoration: none;
}
